<link rel="stylesheet" href="/css/home.css">

<h1>SocialCode / <%= title %></h1>

<div id="home-container">
    <section id="feed-posts">
        <% if(locals.user){ %>
        <h4>Post</h4>
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="type here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post'); -%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="users-friends">

        <div id="all-users">
            <h4> All Users</h4>
    
            <% for(u of all_users){ %>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <% }  %>
        </div>
        <% if(locals.user){%>
            <div id="friends">
                <h4>Friends</h4>

                <% for(friends of friends){%>
                    <p>
                        <a href="/users/profile/<%= friends.to_user.id %>"><%= friends.to_user.name %></a>
                    </p>
                <%}%>
            </div>
        <%}%>
    </section>

    <%- include('_chat_box') -%>
</div>
<script src="/js/home_post_comment.js"></script>
<script src="/js/home_post.js"></script>

<script src="/js/toggle_likes.js"></script>

<script>
    // console.log(this);
    // console.log($('.toggle-like-button'));
    // $('.toggle-like-button') will create and and array object and .each() function will work as a for loop which will traverse over that array of objects and call the callback function defined inside the .each() function.

    $('.toggle-like-button').each(function(){
        let self = this;
        // console.log('self',self, typeof(self));
        let toggleLike = new ToggleLike(self);
    });
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script> -->
<script   src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"   integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg=="   crossorigin="anonymous"   referrerpolicy="no-referrer" ></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>
<script>
    new chatEngine('user-chat-box', '<%= locals.user.email %>');
</script>
<% } %>