<html>
    <head>
        <title><%= title %></title>
        <!-- even though the layout.css exist in assets folder we didn't mention the assets it because we set the express.static file in index.js file of socialcode -->
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); -%>
        <%- body %>
        <%- include('_footer'); -%>
        <%- script %>
    </body>
</html>