<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <!-- even though the layout.css exist in assets folder we didn't mention the assets it because we set the express.static file in index.js file of socialcode -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <!-- <link rel="stylesheet" href="/css/layout.css"> -->
        <!-- <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/chat_box.css"> -->

        <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); -%>

        <main>
            <%- body %>
        </main>
        <%- include('_footer'); -%>
        <%- script %>

        <script>
            // we have used noty to style out flash messages and also incude two cdn links for noty first link for css and second for js using script 
            <% if(flash.success && flash.success.length>0) { %>
                new Noty({
                    theme :'relax',
                    type : 'success',
                    text: '<%= flash.success %>',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();
            <% } %>

            <% if(flash.error && flash.error.length>0) {%>
                new Noty({
                    theme :'relax',
                    type : 'error',
                    text: '<%= flash.error %>',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();
            <%}%>
        </script>
    </body>
</html>