
    <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>" height="150px" width="150px">
    
    <% if(user.id == profile_user.id){ %> 
        <!-- if profile_user mathches the current logged in user then show the update form  -->
        <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Enter Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Enter Email" value="<%= profile_user.email %>" required>
            <input type="file" name="avatar" placeholder="profile picture">
            <input type="submit" value="update">
        </form>
    <% }else{ %>
        <!-- else only show the profile user info  -->
        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>

        <% if(!isFriend){%>
            <form id="add-friend" action="/users/friends/add/<%= profile_user.id %>" method="POST">
                <input type="submit" value="Add Friend">
            </form>
        <%}else{%>
            <form id="remove-friend"action="/users/friends/remove/<%= profile_user.id %>" method="POST">
                <input type="submit" value="Remove Friend">
            </form>
        <%}%>
    <%}%>